<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SCADA</title>

	{% load static %}

	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:200&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<script src="https://kit.fontawesome.com/931f1e08d2.js"></script>
	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	
</head>
<body>
	<header>
	<div class="profile-nav">




		<div id="example-1">
			<a  href="#" class="profile-link"><svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 98 94" style="enable-background:new 0 0 98 94;" xml:space="preserve">
				<g>
					<path class="st0" d="M41,73V63h-2c-9,5-17-2-17-2l-5,10c0,0,13,13,13,14L41,73z"/>
					<path class="st0" d="M96,74c0,0-10-21-16-29s-18-3-18-3c-9,5-6,1-6,1c8-12,29-2,29-2S88.1,2.18,56,5.16V35h-3V1h-4h-4v34h-3V5.16
					C9.9,2.18,13,41,13,41s21-10,29,2c0,0,3,4-6-1c0,0-12-5-18,3S2,74,2,74s-5,22,5,17c0,0,1-6,13-10c0,0,3-1,0-3s-8-5-6-8s8-17,8-17
					s4-8,10-6c0,0,11,1,13,8h4h4c2-7,13-8,13-8c6-2,10,6,10,6s6,14,8,17s-3,6-6,8s0,3,0,3c12,4,13,10,13,10C101,96,96,74,96,74z"/>
					<path class="st0" d="M76,61c0,0-8,7-17,2h-2v10l11,12c0-1,13-14,13-14L76,61z"/>
					<polygon class="st0" points="53,70 53,66 50,63 49,63 48,63 45,66 45,70 49,70 	"/>
					<polygon class="st0" points="49,75 45,75 29,89 29,93 49,93 69,93 69,89 53,75 	"/>
				</g>
			</svg></a>

			<p class="profile-name">Profile</p>
		</div>


	</div>

</header>


<div class="container-fluid">
	<div class="row">
		<div class="fixed-sidebar col-3">
			<div class=" sidebar col-2">
				
				<div class="logo">

					SCADA

				</div>

				<ul >

					<li class="nav_elem" id="example-10">
						<i class="fas fa-tachometer-alt"></i>
						<a href="/dashboard" @mouseover="upHere = true" @mouseleave="upHere = false">
							Dashboard
							<transition name="slide-fade">
								<div v-show="upHere" class="red-line"></div>
							</transition>
						</a>
					</li>

					<li class="nav_elem" id="example-2">
						<i class="far fa-chart-bar"></i>
						<a href="/monitoring" @mouseover="upHere = true" @mouseleave="upHere = false">
							Live chart
							<transition name="slide-fade">
								<div v-show="upHere" class="red-line"></div>
							</transition>
						</a>
					</li>
					<li class="nav_elem" id="example-3">
						<i class="fas fa-database"></i>
						<a href="/data" @mouseover="upHere = true" @mouseleave="upHere = false">
							Data
							<transition name="slide-fade">
								<div v-show="upHere" class="red-line"></div>
							</transition>
						</a>
					</li>
					<li class="nav_elem" id="example-4">
						<i class="fas fa-cogs"></i>
						<a href="/settings" @mouseover="upHere = true" @mouseleave="upHere = false">
							Setting
							<transition name="slide-fade">
								<div v-show="upHere" class="red-line"></div>
							</transition>
						</a>
					</li>
					<li class="nav_elem" id="example-5">
						<i class="far fa-question-circle"></i>
						<a href="/FAQ" @mouseover="upHere = true" @mouseleave="upHere = false">
							F.A.Q
							<transition name="slide-fade">
								<div v-show="upHere" class="red-line"></div>
							</transition>
						</a>
					</li>
					<li class="nav_elem" id="example-6">
						<i class="fas fa-address-card"></i>
						<a href="/about" @mouseover="upHere = true" @mouseleave="upHere = false">
							About as
							<transition name="slide-fade">
								<div v-show="upHere" class="red-line"></div>
							</transition>
						</a>
					</li>

				</ul>
			</div>

		</div>
	
	{% block content %}{% endblock %}
	
<script type="text/javascript" src="{% static 'js/script.js' %}"></script> 
</body>
</html>